.message-container{
    padding: 20px;
    height: 100vh;
    overflow-y: scroll;
}

.receiver-name{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.left-arrow{
  margin-right:50px;
  height:48px;
  padding: 2px;
  cursor: pointer;
}

.left-arrow:hover{
  border-radius: 50%;
  background-color: rgb(0,0,0,0.1);
}

.user-symbol{
  background-color: rgb(0,0,0,0.1);
  border-radius: 50%;
  padding: 10px;
}

.chat-container {
    width: 60%;
    margin: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }

  .message {
    width: 100%;
  }

  .send, .received{
    display: inline-block;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
  }

  .send{
    max-width: 70%;
    background-color: #4caf50;
    color: white;
    float:right;
  }

  .received {
    max-width: 70%;
    background-color: #ddd;
  }

  input{
      display: inline-block;
      width: 60%;
      padding: 0 5px;
      margin-right: 10px;
      height: 40px;
      font-size: 16px;
      background-color: white;
      border: none;
      outline: none;
  }
  .send-button{
    padding: 5px 7px;
    border-radius: 2px;
  }

  .send-button:hover{
    transform: scale(1.1);
  }

  @media (max-width: 768px){
    .chat-container{
      width: 90%;
    }
    input{
      width: 80%;
    }
  }